.bg-box {
  width: 1200px;
  height: 800px;
  background: 
          url("../images/green-png-44873.png") bottom / 300px repeat-x,
          url("../images/58eb07b830eab15b56162788.png") top right / 40px repeat-y,
          url("../images/lamp-png-34914.png") top / 60px repeat-x,
          url("../images/3F3F.webp") top left / 40px repeat-y,
          url("../images/pole-zelen-trava-dom-derevya.webp") center / auto no-repeat;
  background-color: darkgreen;
}
